body {
    background: white;
    color: #444;
    font-family: sans-serif;
    margin: 0 auto;
    max-width: 600px;
}

article {
    margin-top: 3rem;
}

.posts article {
    border: 1px solid #c5c5c5;
    border-bottom: none;
    margin-top: 3rem;
    padding: 2rem 1.2rem;
}

.posts article + article {
    margin-top: 0;
}

h1 {
    margin: 0.4rem 0;

}

p {
    line-height: 1.7;
}

.meta {
    color: #888;
    font-size: 0.85rem;
    padding-bottom: 3rem;
}

.bg-dark {
    background: #f6f6f6;
}
